@layer components {
  .InnerGlowCard {
    --a: 0deg;
    box-shadow: 10px 10px 30px rgb(255 255 255 / 14%);
  }

  .InnerGlowCard .InnerGlowCard__content {
    overflow: hidden;
    position: relative;
    border-radius: 0.5em;
    padding: 2.5em;
    text-wrap: balance;
  }

  .InnerGlowCard .InnerGlowCard__content::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: -1em;
    border: solid 1.25em;
    border-image: conic-gradient(
        from var(--a),
        #669900,
        #99cc33,
        #ccee66,
        #006699,
        #3399cc,
        #990066,
        #cc3399,
        #ff6600,
        #ff9900,
        #ffcc00,
        #669900
      )
      1;
    filter: blur(0.75em);
    animation: rotate 4s linear infinite;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .g1,
  .g2,
  .g3,
  .g4,
  .g5,
  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    opacity: 1;
  }

  .g1 {
    animation: moveVertical 30s ease infinite;
  }
  .g2 {
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
  }
  .g3 {
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
  }
  .g4 {
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
  }
  .g5 {
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
  }

  .interactive {
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }
  .loop-slider .inner {
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }

  @keyframes rotate {
    to {
      --a: 360deg;
    }
  }
  @keyframes moveVertical {
    0%,
    100% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveHorizontal {
    0%,
    100% {
      transform: translateX(-50%);
    }
    50% {
      transform: translateX(50%);
    }
  }

  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
