@tailwind base;
@tailwind components;
@tailwind utilities;

@property --a {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@layer base {
  :root {
    --background: 190 76% 82%;
    --foreground: 239 94% 19%;

    --card: 190 76% 82%;
    --card-foreground: 239 94% 19%;

    --popover: 190 76% 82%;
    --popover-foreground: 239 94% 19%;

    --primary: 239 94% 19%;
    --primary-foreground: 190 76% 82%;

    --secondary: 214 97% 27%;
    --secondary-foreground: 190 76% 82%;

    --muted: 201 100% 36%;
    --muted-foreground: 190 76% 82%;

    --accent: 195 100% 39%;
    --accent-foreground: 190 76% 82%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 190 76% 82%;

    --border: 214 97% 27%;
    --input: 214 97% 27%;
    --ring: 239 94% 19%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 239 94% 19%;
    --foreground: 190 76% 82%;

    --card: 239 94% 19%;
    --card-foreground: 190 76% 82%;

    --popover: 239 94% 19%;
    --popover-foreground: 190 76% 82%;

    --primary: 190 76% 82%;
    --primary-foreground: 239 94% 19%;

    --secondary: 214 97% 27%;
    --secondary-foreground: 190 76% 82%;

    --muted: 201 100% 36%;
    --muted-foreground: 190 76% 82%;

    --accent: 195 100% 39%;
    --accent-foreground: 190 76% 82%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 190 76% 82%;

    --border: 214 97% 27%;
    --input: 214 97% 27%;
    --ring: 190 76% 82%;
  }

  .bg-background {
    background-color: hsl(var(--background));
  }

  .text-foreground {
    color: hsl(var(--foreground));
  }

  .border-border {
    border-color: hsl(var(--border));
  }
}

@layer components {
  .InnerGlowCard {
    --a: 0deg;
  }
  .InnerGlowCard {
    box-shadow: 10px 10px 30px rgb(255 255 255 / 14%);
  }

  .InnerGlowCard .InnerGlowCard__content {
    overflow: hidden;
    position: relative;
    border-radius: 0.5em;
    padding: 2.5em;
    font: clamp(1em, 2vw + 2vh, 2em) sans-serif;
    text-wrap: balance;
  }

  .InnerGlowCard .InnerGlowCard__content::before {
    content: '';
    position: absolute;
    inset: -1em;
    border: solid 1.25em;
    border-image: conic-gradient(
        from var(--a),
        #669900,
        #99cc33,
        #ccee66,
        #006699,
        #3399cc,
        #990066,
        #cc3399,
        #ff6600,
        #ff9900,
        #ffcc00,
        #669900
      )
      1;
    filter: blur(0.75em);
    animation: rotate 4s linear infinite;
  }

  @keyframes rotate {
    to {
      --a: 360deg;
    }
  }
}
