@import 'tailwindcss';
@import './fonts.css';
@import './theme.css';
@import './components.css';
@import './animations.css';

@config '../../tailwind.config.js';

@property --a {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
