---
// src/pages/index.astro
import type { HomePageConfig } from '@/types/pages'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Skills from '../components/Skills.astro'
import About from '../components/About.astro'
import Experience from '../components/Experience.astro'
import Footer from '../components/Footer.astro'
import Contact from '../components/Contact.astro'

// Page configuration
const pageConfig: HomePageConfig = {
  seoTitle: 'Josemi Anton - Web Designer & Developer',
  seoDescription:
    'Portfolio and professional resume of Josemi Anton, a web designer and developer specializing in modern web technologies.',
  sections: {
    hero: true,
    about: true,
    experience: true,
    skills: true,
    contact: true,
    footer: true,
  },
}
---

<Layout
  title={pageConfig.seoTitle}
  description={pageConfig.seoDescription}
>
  <main class='bg-background'>
    {pageConfig.sections.hero && <Hero />}
    {pageConfig.sections.about && <About />}
    {pageConfig.sections.experience && <Experience />}
    {pageConfig.sections.skills && <Skills />}
    {pageConfig.sections.contact && <Contact />}
    {pageConfig.sections.footer && <Footer />}
  </main>
</Layout>
