---
import ThemeProvider from '../components/ThemeProvider.astro'
import Navigation from '../components/Navigation.astro'
import '../styles/globals.css'

interface Props {
  title: string
  description?: string
}

const {
  title,
  description = "Josemi Anton's professional resume and portfolio",
} = Astro.props
---

<!doctype html>
<html
  lang='en'
  class='dark'
>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <ThemeProvider />
  </head>
  <body class='font-sans font-light'>
    <div class='min-h-screen bg-background text-foreground'>
      <header class='container mx-auto px-4 py-2'>
        <Navigation />
      </header>
      <slot />
    </div>
  </body>
</html>
